table {
  display: table;
  width: 96%;
  border-spacing: 0px;
  padding: 0px;
  text-align: center;
  margin: auto;
}
th {
  min-height: 40px;
  max-height: 50px;
  padding: 6px;
  max-width: 100px;
  min-width: 40px;
  text-align: right;

  font-weight: 300;
  font-size: 1em;
  color: #377fbb;
}
tr {
  overflow: hidden;
}

td {
  max-width: 150px;
  min-width: 40px;

  border-spacing: 0px;
  padding: 6px;
  color: #377fbb;
  font-size: 2em;
  border-bottom: 1px solid #dceaf5;
  vertical-align: top;
  overflow: hidden;
}
.td .date {
  font-weight: 300;
  text-align: right;
  z-index: -1;
  float: right;
  top: -10px;
  padding: 0px;
}
.td {
  height: 50px;
  position: relative;
}
.td #highlighted {
  background: #ad0b47;
  display: inline-block;
  height: 10px;
  width: 10px;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.9;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

.home {
  display: block;
  position: relative;
  margin: 0px 0px 100px 0;
  min-width: 75%;
  overflow: hidden;
  padding: 90px 10px 10px 10px;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  box-sizing: border-box;
  background: white;
}
.home h2 {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
}

#cal-move-r {
  right: 6px;
  box-shadow: 4px 4px 8px lightgrey;
}
#cal-move-l {
  left: 6px;
  box-shadow: -4px 4px 8px lightgrey;
}
.cal-move {
  display: inline-block;
  position: absolute;
  padding: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 310px;
  cursor: pointer;
}
.preview-img {
  margin-bottom: 6px;
  background-size: cover;
  box-sizing: border-box;
  width: 48%;
  display: inline-flex;
  background-repeat: no-repeat;
  cursor: pointer;
}

.preview-img h4 {
  color: white;
  margin: 40px 0 10px 0;
  padding: 4px;
  background-image: linear-gradient(to right, slategrey, rgba(0, 0, 0, 0));
  display: inline-block;
  position: relative;
  width: 100%;
  font-family: "Muli", sans-serif;
}

.recipe-drawer-container {
  overflow: hidden;
  height: 0px;
  visibility: hidden;
}

.recipe-drawer-container-show {
  visibility: visible;
  overflow: hidden;
  animation: expand-recipes 0.8s ease-in-out;
}

@keyframes expand-recipes {
  0% {
    height: 0px;
    visibility: visible;
    opacity: 0.25;
    overflow: hidden;
  }
  100% {
    height: 100%;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
}

.food-today {
  height: 140px;
}
.food-today h3 {
  display: inline-block;
  position: relative;
  margin: 4px;
}
.food-today h4 {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-weight: 700;
  margin: 4px;
}
.food-today img {
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: top;
}
.food-today a {
  color: #0c3450;
  font-family: sans-serif;
  font-weight: 500;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0.75em;
  text-align: center;
}
