table {
  display: table;
  width: 96%;
  border-spacing: 0px;
  padding: 20px;
  text-align: center;
  margin: auto;
}
th {
  min-height: 40px;
  max-height: 50px;
  padding: 6px;
  max-width: 100px;
  min-width: 40px;
  text-align: right;

  font-weight: 300;
  font-size: 1em;
  color: steelblue;
}
tr {
  overflow: hidden;
}

td {
  max-width: 150px;
  min-width: 40px;

  border-spacing: 0px;
  padding: 6px;
  color: rgb(197, 207, 216);
  font-size: 2em;
  border-bottom: 1px solid lightblue;
  vertical-align: top;
  overflow: hidden;
}
.td .date {
  font-weight: 300;
  text-align: right;
  z-index: -1;
  float: right;
  top: -10px;
  padding: 0px;
}
.td {
  height: 60px;
  position: relative;
}
.td #highlighted {
  background: #ad0b47;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  height: 25px;
  width: 25px;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.9;
  padding: 0px;
  margin: 0px;
  vertical-align: bottom;
}

.home {
  display: block;
  position: relative;
  margin: auto;
  max-width: 90%;
  min-width: 65%;
  overflow: hidden;
  border-bottom: 1px solid aliceblue;
  padding: 10px;
  margin-bottom: 100px;
  text-align: right;
  font-family: "Open Sans Condensed", sans-serif;
}
.home h2 {
  display: inline-block;
  text-align: right;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 40px;
}
.home button {
  z-index: 3;
  position: absolute;
  top: 130px;
  right: 30px;
  height: 50px;
  width: 20px;
  margin: 0px;

  font-size: 2em;
  color: skyblue;
}
#cal-move-r {
  right: 6px;
}
#cal-move-l {
  left: 6px;
}
.cal-move {
  display: inline-block;
  position: absolute;
  font-size: 2em;
  color: aliceblue;
  background: black;
  padding: 2px;
  height: 24px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  top: 275px;
  font-weight: 900;
  opacity: 0.3;
  padding-bottom: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.preview-img {
  padding: 6px;
  margin: 6px;
  padding-left: 0px;
  background-size: cover;
  min-width: 45%;
  max-width: 100%;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  cursor: pointer;
}

.preview-img h4 {
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 4px;
  background-image: linear-gradient(to right, slategrey, rgba(0, 0, 0, 0));
  display: inline-block;
  position: relative;
  width: 100%;
  font-family: "Muli", sans-serif;
}

.recipe-drawer-container {
  overflow: hidden;
  height: 0px;
  visibility: hidden;
}

.recipe-drawer-container-show {
  visibility: visible;
  overflow: hidden;
  animation: expand-recipes 0.8s ease-in-out;
}

@keyframes expand-recipes {
  0% {
    height: 0px;
    visibility: visible;
    opacity: 0.25;
    overflow: hidden;
  }
  100% {
    height: 100%;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
}
