.nav-link {
  color: #0c3450;
  text-align: right;
  padding: 10px;
  padding-right: 20px;
  font-weight: 900;
  font-size: 14pt;
  display: block;
}
.nav-link:hover {
  background: #dc5c36;
  color: white;
}
.nav-link-log {
  position: relative;
  right: 20px;
  padding-right: 20px;
  padding-top: 10px;
  float: right;
  color: white;
  text-align: right;
  font-weight: 700;
  font-size: 14pt;
}
.list-items {
  display: block;
  position: relative;
  text-align: left;
  margin: auto;
  max-width: 100%;
  min-width: 75%;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 80px;
  padding-top: 90px;
  box-sizing: border-box;
}
.list-items img {
  display: inline-block;
  position: absolute;
  height: 75px;
  width: 75px;
  left: 6px;
  top: 6px;
  padding: 4px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0px;
  box-shadow: 0 2px 8px lightgrey;
}
.list-items h4 {
  margin: 4px;
  margin-left: 90px;
  margin-right: 20px;
  display: flex;
}
.list-block {
  overflow: hidden;
  animation: additemlg 0.5s ease-in-out 1;
  border-radius: 50px 0 0 0;
}
.list-block button {
  display: inline-block;
  position: relative;
  width: 90px;
  padding: 2px;
  font-size: 0.75em;
  height: 25px;
}

.list-items span {
  display: inline-block;
  position: relative;
  font-size: 0.75em;
  margin-left: 2px;
  margin-right: 2px;
}

.list-items .minus {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: #dbeaf5;
  border: 1px solid;
  color: #377fbb;
}
.list-items .quantity {
  width: 20px;
  text-align: center;
}
.list-items .favorite {
  height: 20px;
  width: 20px;
  position: relative;
  vertical-align: middle;
  margin: 4px 10px 4px 10px;
  padding: 2px;
}

@keyframes additemlg {
  0% {
    height: 0px;
    vertical-align: top;
    opacity: 0.25;
  }
  100% {
    height: 123px;
    vertical-align: auto;
    opacity: 1;
  }
}

.meal-items {
  display: block;
  position: relative;
  text-align: left;
  margin: auto;
  max-width: 100%;
  min-width: 75%;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 80px;
  padding-top: 90px;
  box-sizing: border-box;
  background: #dceaf5;
}
