.nav-link {
  color: darkslategrey;
  text-align: right;
  padding: 10px;
  padding-right: 20px;
  font-weight: 900;
  font-size: 14pt;
  text-decoration: none;
  display: block;
}
.nav-link:hover {
  background: #e6562b;
  color: white;
}
.nav-link-log {
  position: relative;
  right: 20px;
  padding-right: 20px;
  padding-top: 10px;
  float: right;
  color: white;
  text-align: right;
  font-weight: 700;
  font-size: 14pt;
  text-decoration: none;
}
.list-items {
  display: block;
  position: relative;
  text-align: left;
  margin: auto;
  max-width: 95%;
  min-width: 45%;
  overflow: hidden;
  border-bottom: 1px solid #c3ddf3;
  padding: 10px;
  margin-bottom: 125px;
  padding-top: 80px;
}
.list-items img {
  display: inline-block;
  position: absolute;
  height: 65px;
  width: 65px;
  left: 6px;
  top: 6px;
  padding: 4px;
  border-radius: 6px;
}
.list-items h4 {
  margin: 4px;
  margin-left: 90px;
  margin-right: 20px;
  display: flex;
}
.list-items .list-block {
  display: inline-block;
  position: relative;
  width: 100%;
  border-bottom: 3px solid #c3ddf3;
  overflow: hidden;
  animation: additemlg 0.5s ease-in-out 1;
  height: 100%;
}
.list-items button {
  display: inline-block;
  position: relative;
  width: 90px;
  padding: 2px;
  font-size: 0.75em;
  height: 25px;
}

.list-items span {
  display: inline-block;
  position: relative;
  font-size: 0.75em;
  margin-left: 2px;
  margin-right: 2px;
}

.list-items .minus {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: #c3ddf3;
  border: 1px solid;
  color: #2893ef;
}
.list-items .quantity {
  width: 20px;
  text-align: center;
}
.list-items .favorite {
  height: 20px;
  width: 20px;
  position: relative;
  vertical-align: middle;
  margin: 4px;
  padding: 2px;
  margin-left: 10px;
}

@keyframes additemlg {
  0% {
    height: 0px;
    vertical-align: top;
    opacity: 0.25;
  }
  100% {
    height: 90px;
    vertical-align: auto;
    opacity: 1;
  }
}
