input {
  display: inline-block;
  width: 50%;
  background: #f0ffff;
  opacity: 0.9;
  margin-right: 0px;
  margin: 3px;
  padding-left: 10px;
  border: none;
  vertical-align: bottom;
  padding-bottom: 0px;
  font-family: Muli, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  padding-top: 8px;
  text-align: left;
  border-radius: 6px;
  border-bottom: 3px solid lightblue;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  line-height: 25px;
  padding-bottom: 0px;
  overflow: visible;
  outline: none;
}
input::placeholder {
  color: lightsteelblue;
  font-size: 12pt;
  text-align: right;
}

button {
  width: 50%;
  margin: 4px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: Muli, sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-stretch: expanded;
  outline: none;
}

label {
  font-family: Muli, sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 32pt;
  font-weight: 700;
  color: darkslategray;
  font-family: Muli, sans-serif;
  margin: 0px;
}
h2 {
  font-size: 20pt;
  font-weight: 700;
  color: darkslategray;
  font-family: Muli, sans-serif;
}
h4 {
  font-size: 14pt;
  font-weight: 700;
  color: darkslategray;
  font-family: Muli, sans-serif;
}
p {
  font-family: Muli, sans-serif;
  margin: 0px;
  font-size: 10pt;
  padding-bottom: 10px;
  color: lightslategrey;
}

.nav-link {
  color: white;
  text-align: right;
  padding: 14px;
  font-family: Muli, sans-serif;
  font-weight: 500;
  font-size: 12pt;
  float: right;
  right: 20px;
  text-decoration: none;
}
.list-items {
  display: inline-block;
  position: relative;
  margin: 20px;
  max-width: 60%;
  min-width: 45%;
  overflow: hidden;
  border-bottom: 1px solid aliceblue;
  padding: 10px;
}
.list-items img {
  float: left;
  height: 75px;
  width: 75px;
}
.list-items h4 {
  margin: 10px;
  margin-left: 80px;
  max-width: 90%;
  display: flex;
}
.list-items #list-block {
  margin-bottom: 8px;
  margin-top: 20px;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 6px;
  overflow: hidden;
  animation: additemlg 0.5s ease-in-out 1;
}
.list-items button {
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 2px;
  background: white;
  color: darkSlateblue;
  border-left: 1px solid lightslategrey;
  border-radius: 0px;
  border-right: 1px solid lightslategrey;
  font-size: 16px;
  height: 30px;
}
.list-items button:hover {
  background: #d9f0f7;
  color: green;
}
.list-items span {
  display: inline-block;
  position: relative;
}

.list-items #minus {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: aliceblue;
  border: 1px solid;
}
.list-items #quantity {
  width: 20px;
  text-align: center;
}
.sidebar {
  width: 25%;
  max-width: 90%;
  background: white;
  border-right: 6px solid aliceblue;
  float: left;
  position: sticky;
  top: 50px;
  height: 100%;
  margin-top: 10px;
  padding: 6px;
  padding-left: 20px;
  overflow: hidden;
}

.sidebar img {
  height: 40px;
  width: 40px;
  float: left;
}
.sidebar p {
  display: inline-block;
  position: relative;
}
.sidebar h4 {
  font-size: 10pt;
  display: flex;
  margin: 2px;
  margin-left: 50px;
}
.sidebar span {
  font-size: 9pt;
  text-align: right;
  float: right;
  margin-right: 20px;
}
.sidebar button {
  display: inline-block;
  position: relative;
  font-size: 8pt;
  width: 100px;
  height: 20px;
  padding: 5px;
  border-right: 1px solid lightslategrey;
  border-left: 1px solid lightslategrey;
  border-radius: 0px;
}
.sidebar button:hover {
  background: #d9f0f7;
  color: darkred;
}
.sidebar #list-block {
  margin-bottom: 8px;
  margin-top: 20px;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 6px;
  overflow: hidden;
  animation: additem 0.5s ease-in-out 1;
}

@keyframes additem {
  0% {
    height: 0px;
    vertical-align: top;
    opacity: 0.25;
  }
  100% {
    height: 55px;
    vertical-align: auto;
    opacity: 1;
  }
}

@keyframes additemlg {
  0% {
    height: 0px;
    vertical-align: top;
    opacity: 0.25;
  }
  100% {
    height: 90px;
    vertical-align: auto;
    opacity: 1;
  }
}
