.input {
  display: inline-block;
  background: #f0ffff;
  margin: 4px 0px 4px 0px;
  padding: 8px 10px 2px 10px;
  border: none;
  vertical-align: bottom;
  text-align: left;
  border-bottom: 2px solid #377fbb;
  border-radius: 6px 6px 0px 0px;
  line-height: 25px;
  overflow: visible;
  outline: none;
  box-sizing: border-box;
}
input {
  font-size: 16px;
  font-weight: 300;
  min-width: 80%;
  max-width: 100%;
  color: #0e5896;
}
input::placeholder {
  color: light#377fbb;
  font-size: 12pt;
  text-align: right;
}
textarea {
  font-size: 16px;
  font-weight: 300;
  resize: none;
  height: 100px;
  min-width: 80%;
  max-width: 100%;
  color: #0e5896;
}
textarea::placeholder {
  color: #377fbb;
  font-size: 12pt;
  text-align: right;
}
.header-orange {
  margin: 2px 0 8px 0;
  padding: 6px;
  width: 100%;
  background: #dc5c36;
  color: white;
  box-shadow: 0px 2px 4px lightgrey;
}

.header-blue {
  margin: 2px 0 8px 0;
  padding: 6px;
  width: 100%;
  background: #377fbb;
  color: white;
  box-shadow: 0px 2px 4px lightgrey;
}
button {
  width: 50%;
  margin: 4px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 1.25em;
  outline: none;
  background: #377fbb;
  color: white;
  font-weight: 600;
}
button:hover {
  background: #0e5896;
}
.button-blue-full {
  width: 100%;
  background: #387fbb;
  box-sizing: border-box;
  margin: 0px;
}
label {
  font-weight: 500;
  margin: 0px;
  padding: 0 0 4px 0;
  color: #377fbb;
}
.cust-select {
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  font-family: sans-serif;
  color: #0e5896;
  line-height: 1;
  padding: 0.4em 1.4em 0.4em 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #0e5896;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: aliceblue;
  background-image: url("./select.svg"),
    linear-gradient(to bottom, aliceblue 0%, azure 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.5em top 50%, 0 0;
  background-size: 1.2em auto, 100%;
}
h1 {
  font-size: 32pt;
  font-weight: 700;
  color: #0c3450;
  margin: 0px;
}
h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #0c3450;
  box-sizing: border-box;
}
h4 {
  font-size: 1em;
  font-weight: 700;
  color: #0c3450;
}
h5 {
  font-size: 0.9em;
  font-weight: 700;
  color: #0c3450;
}
p {
  margin: 0px;
  font-size: 0.75em;
  padding-bottom: 10px;
  color: #0e5896;
}
a {
  text-decoration: none;
}
#small-input {
  display: inline-block;
  min-width: 47%;
  max-width: 50%;
  font-size: 10pt;
  box-sizing: border-box;
}
#small-input::placeholder {
  font-size: 8pt;
}

#page-title {
  margin: 0px 0px 0px 10px;
  float: left;
  padding: 3px;
  cursor: pointer;
}

#searchbar {
  background: #0c3450;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-size: 20px;
  color: white;
  outline: none;
}
#searchbar::placeholder {
  text-align: left;
}

#p-search {
  display: inline-block;
  padding: 0 4px 0 4px;
  margin: 15px 30px 0px 0px;
  position: relative;
  vertical-align: middle;
  background: #0c3450;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
  box-sizing: border-box;
}
#nav-back {
  height: 55px;
  float: right;
  top: 0px;
  z-index: 0;
}
.nav-contain h2 {
  float: left;
  margin: 6px 0 0px 10px;
  vertical-align: middle;
  color: #8da0a7;
  font-size: 1.5em;
}
.nav-contain {
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: right;
  padding: 4px;
  box-sizing: border-box;
}

.sub-nav {
  height: 24px;
  background: #387fbb;
  display: inline-block;
  position: absolute;
  bottom: -24px;
  left: 0px;
  width: 100%;
  margin-top: 6px;
  z-index: -1;
  text-align: center;
  color: white;
}
.sub-links {
  color: lightgrey;
  font-size: 0.75em;
  font-weight: 500;
  z-index: 5;
  margin: 0 6px 0 6px;
  font-family: sans-serif;
}

.sub-links-selected {
  color: white;
  font-weight: 900;
  font-size: 1em;
  animation: highlights 0.2s ease-in 1;
}

@keyframes highlights {
  0% {
    font-size: 0.75em;
    font-weight: 500;
    color: lightgray;
  }
  100% {
    font-size: 1em;
    font-weight: 900;
    color: white;
  }
}
.footer {
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: black;
  color: white;
}
.footer a {
  display: inline-block;
  position: relative;
  padding: 10px 20px 4px 20px;
  font-size: 0.75em;
  vertical-align: middle;
  color: white;
}
.footer p {
  font-size: 0.75em;
  padding: 0 20px 0 20px;
  color: white;
}
