input {
  display: inline-block;
  min-width: 50%;
  max-width: 80%;
  background: #f0ffff;
  opacity: 0.9;
  margin-right: 0px;
  margin: 3px;
  padding-left: 10px;
  border: none;
  vertical-align: bottom;
  padding-bottom: 0px;
  font-family: "Muli", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  padding-top: 8px;
  text-align: left;
  border-radius: 6px;
  border-bottom: 3px solid lightblue;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  line-height: 25px;
  padding-bottom: 0px;
  overflow: visible;
  outline: none;
}
input::placeholder {
  color: lightsteelblue;
  font-size: 12pt;
  text-align: right;
}
textarea {
  display: inline-block;
  min-width: 50%;
  max-width: 80%;
  background: #f0ffff;
  opacity: 0.9;
  margin-right: 0px;
  margin: 3px;
  padding-left: 10px;
  border: none;
  padding-bottom: 0px;
  font-family: "Muli", sans-serif;
  font-size: 10pt;
  font-weight: 300;
  padding-top: 8px;
  text-align: left;
  border-radius: 6px;
  border-bottom: 3px solid lightblue;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  line-height: 25px;
  padding-bottom: 0px;
  overflow: visible;
  outline: none;
  resize: none;
  height: 100px;
}
button {
  width: 50%;
  margin: 4px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-stretch: expanded;
  outline: none;
}
select {
  display: inline-block;
  background: #f0ffff;
  opacity: 0.9;
  margin-right: 0px;
  margin: 3px;
  padding-left: 10px;
  border: none;
  vertical-align: bottom;
  padding-bottom: 0px;
  font-family: "Muli", sans-serif;
  font-size: 10pt;
  font-weight: 300;
  padding-top: 8px;
  text-align: left;
  border-radius: 6px;
  border-bottom: 3px solid lightblue;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  line-height: 25px;
  padding-bottom: 0px;
  overflow: visible;
  outline: none;
}
label {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  color: lightslategray;
}

h1 {
  font-size: 32pt;
  font-weight: 700;
  color: darkslategray;
  font-family: "Muli", sans-serif;
  margin: 0px;
}
h2 {
  font-size: 20pt;
  font-weight: 700;
  color: darkslategray;
  font-family: "Muli", sans-serif;
}
h4 {
  font-size: 14pt;
  font-weight: 700;
  color: darkslategray;
  font-family: "Muli", sans-serif;
}
p {
  font-family: "Muli", sans-serif;
  margin: 0px;
  font-size: 10pt;
  padding-bottom: 10px;
  color: lightslategrey;
}
svg {
  float: right;
  margin: 8px;
  padding: 2px;
  vertical-align: top;
}
.small-input {
  display: inline-block;
  min-width: 10%;
  max-width: 40%;
  font-size: 10pt;
}
.small-input::placeholder {
  font-size: 8pt;
}
#page-title-c {
  margin: 0px;
  float: left;
  padding: 0px;
  font-weight: 900;
  margin-left: 25px;
  color: white;
  font-size: 2.5em;
  margin-top: -10px;
  margin-right: -10px;
}
#page-title {
  margin: 0px;
  float: left;
  padding: 3px;
  font-weight: 900;
  color: white;
  font-size: 1.75em;
}
