.meal {
  display: block;
  position: relative;
  text-align: left;
  margin: auto;
  max-width: 95%;
  min-width: 45%;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 125px;
  padding-top: 80px;
}
.meals {
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.meals img {
  float: left;
  padding: 10px;
  left: 0px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.meals button {
  width: auto;
  height: auto;
  padding: 4px;
  font-size: 0.75em;
}

.meals label {
  color: #0c3450;
}

.meals select {
  min-width: 75%;
  max-width: 80%;
}

.form-con {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
