.menu-anchor {
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0px;
  opacity: 1;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 10px;
}
.menu-anchor:hover {
  background: #597dcc;
}

.menu-anchor #menu-list {
  height: auto;
  width: 200px;
  float: right;
  top: 0px;
  opacity: 1;
  background: white;
  box-shadow: 4px 4px 20px black;
  border-radius: 5px;
  animation: expand 0.3s ease-in 1;
  overflow: hidden;
}

@keyframes expand {
  0% {
    height: 0px;
    opacity: 0.25;
    width: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 180px;
    width: 200px;
  }
}
