.recipe {
  width: 100%;
  padding: 10px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.recipe #header {
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 150px;
  color: white;
  padding-top: 50px;
  display: block;
  margin-top: 20px;
}
#header h2 {
  color: white;
  text-align: left;
  margin-top: 90px;
  padding-left: 10px;
  background-image: linear-gradient(to right, slategrey, rgba(0, 0, 0, 0));
}
.recipe h3 {
  font-weight: 500;
  font-size: 1em;
  margin: 10px;
}
.recipe .ingredients-block {
  display: inline-block;
  position: relative;
  padding: 4px;
  border: 1px solid rgba(100, 100, 225, 0.25);
  height: 65px;
  overflow: hidden;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.ingredients-block img {
  width: 60px;
  display: inline-block;
  position: absolute;
  left: 4px;
  top: 4px;
}

.ingredients-block h4 {
  display: inline-block;
  position: relative;
  margin-left: 70px;
  font-size: 0.75em;
}

.ingredients-block p {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: 6px;
  font-weight: 900;
}

.recipe button {
  font-size: 0.75em;
  display: inline-block;
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: auto;
  height: auto;
  padding: 4px;
}
.recipe-image {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: 0 0 5px 0;
  box-sizing: border-box;
}
.recipe-image #r-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  box-sizing: content-box;
}

.photo-button {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 20px;
  padding: 10px;
  color: white;
  font-weight: 900;
  background: black;
}
#file {
  height: 0.1px;
  width: 0.1px;
  visibility: hidden;
}

.r-form-container {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 90%;
  max-width: 100%;
  text-align: left;
  vertical-align: top;
  margin: 0 0 20px 0;
}
