.sidebar {
  width: 25%;
  float: left;
  position: sticky;
  left: 0px;
  height: 100%;
  margin-top: 40px;
  overflow: hidden;
  text-align: left;
  box-sizing: border-box;
  padding: 50px 4px 0px 0px;
}

.sidebar img {
  height: 40px;
  width: 40px;
  float: left;
  margin-bottom: 15px;
}
.sidebar p {
  display: inline-block;
  position: relative;
}
.sidebar h5 {
  display: flex;
  margin: 2px;
  margin-left: 50px;
}
.sidebar span {
  font-size: 9pt;
  text-align: right;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
.sidebar button {
  display: inline-block;
  color: black;
  background: white;
  position: relative;
  font-size: 8pt;
  width: 100px;
  height: 20px;
  padding: 5px;
  border-right: 1px solid #377fbb;
  border-left: 1px solid #377fbb;
  border-radius: 0px;
  z-index: 10;
}
.sidebar #bar-header {
  text-align: left;
  background: white;
  margin: 0 0 10px 0;
  z-index: 50;
  padding: 0px;
  border-bottom: 1px solid #377fbb;
}
.sidebar #top-links {
  text-align: left;
  border: none;
  font-size: 12pt;
  height: 30px;
  margin: 4px;
  padding-left: 0px;
}

.sidebar #top-unselected {
  text-align: left;
  border: none;
  font-size: 12pt;
  height: 30px;
  margin: 4px;
  padding-left: 0px;
  color: #377fbb;
}

.sidebar .list-block {
  margin: 10px 0 8px 0;
  padding-bottom: 6px;
  overflow: hidden;
  text-align: left;
  border-radius: 0px;
  animation: additem 0.5s ease-in-out 1;
}
.sidebar .favorite {
  height: 20px;
  width: 20px;
  z-index: 5;
  float: right;
}

@keyframes additem {
  0% {
    height: 0px;
    vertical-align: top;
    opacity: 0.25;
  }
  100% {
    height: 55px;
    vertical-align: auto;
    opacity: 1;
  }
}
