.sidebar {
  width: 25%;
  background: white;
  border-right: 6px solid aliceblue;
  float: left;
  position: sticky;
  top: 70px;
  left: 0px;
  height: 100%;
  margin-top: 0px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  overflow: hidden;
  text-align: left;
}

.sidebar img {
  height: 40px;
  width: 40px;
  float: left;
  margin-bottom: 15px;
}
.sidebar p {
  display: inline-block;
  position: relative;
}
.sidebar h4 {
  font-size: 0.75em;
  display: flex;
  margin: 2px;
  margin-left: 50px;
}
.sidebar span {
  font-size: 9pt;
  text-align: right;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
.sidebar button {
  display: inline-block;
  position: relative;
  font-size: 8pt;
  width: 100px;
  height: 20px;
  padding: 5px;
  border-right: 1px solid lightslategrey;
  border-left: 1px solid lightslategrey;
  border-radius: 0px;
  z-index: 10;
}
.sidebar #bar-header {
  background: white;
  margin-top: 0px;
  position: sticky;
  top: 0px;
  z-index: 50;
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid darkslateblue;
  margin-bottom: 10px;
}
.sidebar #top-links {
  text-align: left;
  border: none;
  font-size: 12pt;
  height: 30px;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 15px;
}
.sidebar #top-links:hover {
  background: white;
  color: black;
  cursor: default;
}
.sidebar #top-unselected {
  text-align: left;
  border: none;
  font-size: 12pt;
  height: 30px;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 15px;
  color: lightslategrey;
}
.sidebar button:hover {
  background: #d9f0f7;
  color: darkred;
}
.sidebar #list-block {
  margin-bottom: 8px;
  margin-top: 10px;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 6px;
  overflow: hidden;
  text-align: left;
  animation: additem 0.5s ease-in-out 1;
}
.sidebar #favorite {
  height: 20px;
  width: 20px;
  fill: lightslategrey;
  z-index: 5;
  float: right;
}
.sidebar #favorite:hover {
  fill: #ffb8b8;
}
.sidebar #selected {
  height: 20px;
  width: 20px;
  fill: #d6628a;
  z-index: 5;
  float: right;
}
.sidebar #selected:hover {
  fill: sienna;
}
@keyframes additem {
  0% {
    height: 0px;
    vertical-align: top;
    opacity: 0.25;
  }
  100% {
    height: 55px;
    vertical-align: auto;
    opacity: 1;
  }
}
