.svg-menu {
  display: inline-block;
  position: relative;
  max-height: 30px;
  max-width: 30px;
  min-height: 20px;
  min-width: 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  vertical-align: middle;
}
.svg-menu #icon:hover {
  background: #45265a;
}
.svg-menu #icon {
  height: auto;
  margin: 0px;
}
.svg-menu #notify {
  max-height: 20px;
  max-width: 20px;
  min-height: 13px;
  min-width: 13px;
  background: red;
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px black;
  border: 1px solid white;
  opacity: 0.9;
  font-size: 0.75em;
  font-weight: 900;
}
