.svg-menu {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 6px;
  vertical-align: middle;
}
.svg-menu #icon:hover {
  background: #45265a;
}
.svg-menu #icon {
  height: 30px;
  margin: 0px;
}
.svg-menu #notify {
  height: 20px;
  width: 20px;
  background: red;
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px black;
  border: 1px solid white;
  opacity: 0.9;
  font-size: 12pt;
  font-weight: 900;
}
