#icon {
  height: 30px;
  fill: rgb(179, 201, 243);
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 100px;
  margin: 0px;
  background: rgb(49, 99, 148);
  padding: 0px;
  border-radius: 5px;
}
